<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/universal/2-0-1/vendor/font-awesome/css/font-awesome.min.css">

<!-- header -->
<div class="top-bar">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 d-md-block d-none">
        <section>
          <form name="checks">
            <input type="checkbox" id="openSidebarMenu">
            <input type="reset" id="closeSidebarMenu">

            <label for="openSidebarMenu" class="sidebarIconToggle">
              <span class="spinner diagonal part-1"></span>
              <span class="spinner horizontal"></span>
              <span class="spinner diagonal part-2"></span>
            </label>

            <label for="closeSidebarMenu" id="sideback"></label>
            <label for="closeSidebarMenu"></label>

            <div id="sidebarMenu">
              <ul class="sidebarMenuInner">
                <li><a *ngIf= "route === true" (click)="jumptop()" routerLink="#">About</a></li>
                <li><a onClick="jump()" routerLink="#">Projects</a></li>
                <li><a onClick="jump()" routerLink="#">Blog</a></li>
                <li><a onClick="jump()" routerLink="#">Contacts</a></li>
                <li><a onClick="jump()" routerLink="#">Pricing</a></li>
              </ul>

              <div class="linkinconbox">
                <div class="linkicon"><a href="https://www.linkedin.com/in/abdourahmane-samake-027a37172/"> <img
                  src="../assets/icons8-linkedin-100.png" class="linkimg" alt=""></a>
                </div>
                <div class="linkicon"><a href="https://gitlab.com/abdou.samake"> <img src="../assets/icons8-gitlab-100.png"
                                                                                      class="linkimg" alt=""></a>
                </div>
                <div class="linkicon"><a href="https://github.com/abdouSamak"> <img src="../assets/icon_github.png" width="80px" height="40px"
                                                                                    class="linkimg" alt=""></a>
                </div>
                <div class="linkicon"><a href="https://www.facebook.com/abdourahmane.samake"> <img
                  src="../assets/icons8-facebook-old-100.png" class="linkimg" alt=""></a>
                </div>
              </div>

            </div>
          </form>
        </section>
        <!-- Menu -->
       <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item >
            <mat-icon>person_add</mat-icon>
            <a routerLinkActive="active"  routerLink="/addPatient"> <span>Ajouter un patient</span></a>
          </button>
          <button mat-menu-item >
            <mat-icon><mat-icon>group</mat-icon></mat-icon>
            <a routerLinkActive="active"  routerLink="/listPatient"> <span>Liste des patients</span></a>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications</mat-icon>
            <a routerLinkActive="active"  routerLink="/notifications"> <span>notifications</span> </a>
          </button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <a routerLinkActive="active"  routerLink="/login">  <span>Deconnexion</span> </a>
          </button>
        </mat-menu>
        -->
      </div>
      <div class="col-md-6">
        <p id="visaal">VISAAL</p>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="footer-container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>798 South Park Avenue, Jaipur, Raj</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd><a href="tel:#">https://karosearch.com</a> <span>or</span> <a href="tel:#">https://karosearch.com</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>
