<div class="container">
<h1 style="text-align:center">
  Bienvenue chez Kahines Concept!
</h1>
<div *ngIf="authService.currentUser">
  <h5 class="text-primary">Information du soignant</h5>
  <h4>
    <strong>ID:</strong> {{ authService.currentUserId }}
  </h4>
  <h4>
    <strong>Email:</strong> {{ authService.currentUserName }}
  </h4>
  <button (click)="addPatient()" class="btn btn-info">Ajouter un patient</button>
  <br>
  <br>
  <button class="button" (click)="logout()">Deconnection</button>
</div>
<div style="text-align:center">

    <p>
    <!--<button id="loginOut" (click)="seDeconnecter()">
      Se déconnecter
    </button>-->
  </p>
</div>

  <div class="container col-md-12">
    <h2>liste des Patients</h2>
    <div class="table-responsive table-container">
      <table class="table table-dark table-hover table-striped">
        <thead class="thead-light">
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date de naissance</th>
          <th>Sex</th>
          <th>Service</th>
          <th>Etage</th>
          <th>N° de chambre</th>
          <th>N° d'appareil</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let patient of patients">

          <td>{{patient.lastName}}</td>
          <td>{{patient.firstName}}</td>
          <td>{{patient.dateOfBirthday}}</td>
          <td>{{patient.sex}}</td>
          <td>{{patient.service}}</td>
          <td>{{patient.floor}}</td>
          <td>{{patient.numberOfRoom}}</td>
          <td>{{patient.numberOfDevice}}</td>

          <td>
            <button (click)="deletePatient(patient)" class="btn btn-info"> Supprimer</button>
            <!--<button (click)="updatePatient(patient)" style="margin-left: 20px;" class="btn btn-info"> Editer</button>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
